/* **************************************************************************************************************************************/
/* ********************************************************** PRODUCTOS ****************************************************************************/

.donas-indispensables {
    text-align: center;
    background-color: var(--color_tarjetas);
    padding-top: 50px;
}

.title_tarjetados {
    font-family: var(--tipografia_titulos);
    color: var(--color_tarjetas_titulos);
    font-size: 40px;
    font-weight: 500;
}

.texto_productos {
    font-family: var(--tipografia_cuerpo);
    font-size: 25px;
    // font-weight: 200;
}

.galeria-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria-donas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: 1s;
}

.galeria-donas i {
    padding: 20px 0;
}

.galeria-donas img {
    width: 315px;
}

.galeria-donas:hover {
    transform: scale(1.04);
}

.img-recetas-container {

    border-radius: 5px;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.img-recetas-container:hover {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

// contenedor productos contactarnos

.contactarnos_productos {
    text-align: center;
    margin-top: 50px;
}

// titulo productos

.title_productos {
    font-family: var(--tipografia_titulos);
    margin-bottom: 20px;
    color: var(--color_tarjetas_titulos);
    font-size: 40px;
    text-align: center;
}

// texto P

.texto_productos {

    font-family: var(--tipografia_cuerpo);
    font-size: 30px;
    text-align: center;
}