/* **************************************************************************************************************************************/
/* ********************************************************** PRODUCTOS ****************************************************************************/

.donas-indispensables {
    text-align: center;
    background-color: var(--color_tarjetas);
    padding-top: 50px;
    
    p {
        margin: 30px 80px;
        // font-family: var(--tipografia_titulos);
    }
    h2{
        font-family: var(--tipografia_titulos);
    }
}

.galeria-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria-donas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: 1s;
}

.galeria-donas i {
    padding: 20px 0;
}

.galeria-donas img {
    width: 315px;
}

/* .galeria-donas:hover {
    transform: scale(1.04);
} */

.img-recetas-container {

    border-radius: 5px;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.img-recetas-container:hover {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/*este es un efecto que probe pero aun no decido si se queda/ Rotate */
/* .hover06 figure img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover06 figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
} */