

:root{
    --color_tarjetas: #e2daee;

    --tipografia_cuerpo: 'Roboto', sans-serif;

    --color_tarjetas_titulos: #76BA99;

    --tipografia_titulos:'Spinnaker', sans-serif;

    --tipografia_cards:'Lemonada', cursive;
    
}