  .container-fluid {
      background-color: var(--color_tarjetas) !important;
  }

  h1 {
      font-family: var(--tipografia_titulos);

  }

  .text-start {
      font-family: var(--tipografia_cuerpo);
      font-size: 30px;
  }