  
.container-fluid{
    background-color: var(--color_tarjetas) !important;
}
h1 {
    font-family: var(--tipografia_titulos);
    
}
.text-start {
    font-family: var(--tipografia_cuerpo);
    font-size: 30px;
    // box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}